# Jupyter Notebook
.ipynb_checkpoints

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
isoEnv/
src/_Analysis/env_name/

# Machine learning weights
data/
